<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit person</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        .genres {
            border: 1px solid steelblue;
            width: 280px;
            border-collapse: collapse;
        }

        .genres tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .genres td:last-child, td:first-child {
            width: 50px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>

<script>
    window.onload = () => {
        getAuthor();
        getBook(window.location.href.split('=')[1]);
    };

    function getAuthor() {
        fetch('/api/v1/author', {
            method: "GET",
            headers: {
                "Content-Type": "application/json"
            },
        }).then(response => response.json())
            .then((json) => {

                let authorList = "";

                json.forEach((author) => {
                    authorList += `<option value="${author.id}">${author.fullName}</option>`;
                });

                document.getElementById("book-author-select").innerHTML = authorList;
            });
    }

    function getBook(bookId) {
        fetch('/route/v1/book/' + bookId, {
            method: "GET",
            headers: {
                "Content-Type": "application/json"
            },
        }).then(response => response.json())
            .then((book) => {
                document.getElementById("book-id-input").setAttribute("value", book.id);
                document.getElementById("book-title-input").setAttribute("value", book.title);

                const authorObject = book.author;
                document.getElementById("book-author-select").selectedIndex = authorObject.id - 1;

                let genreList = "";

                const genres = book.genres;

                let index = 0;

                genres.forEach(() => {

                    genreList += `<tr>
                                        <td>
                                            <label for="book-genre-select-${index}"></label>
                                            <select id="book-genre-select-${index}" name="book-genre-select-${index}">
                                                <option value=""></option>
                                            </select>
                                        </td>
                                    </tr>`;
                    index++;
                });

                document.getElementById("genres-body").innerHTML = genreList;

                getGenres();
            });
    }

    function getGenres() {
        fetch('/api/v1/genre', {
            method: "GET",
            headers: {
                "Content-Type": "application/json"
            },
        }).then(response => response.json())
            .then((json) => {

                let genreList = "";

                json.forEach((genre) => {
                    genreList += `<option value="${genre.id}">${genre.name}</option>`;
                });

                document.getElementById("book-genre-select-0").innerHTML = genreList
                document.getElementById("book-genre-select-1").innerHTML = genreList
            });
    }

    function saveBook() {
        const bookId = document.getElementById("book-id-input")
        const bookTitle = document.getElementById("book-title-input")
        const author = document.getElementById("book-author-select")

        const genres = [];
        const genre1 = document.getElementById("book-genre-select-0")
        const genre2 = document.getElementById("book-genre-select-1")

        if (genre1 != null) {
            genres.push(genre1.value);
        }
        if (genre2 != null) {
            genres.push(genre2.value);
        }

        const bookObject = {
            id: bookId.value,
            title: bookTitle.value,
            authorId: author.value,
            genresId: genres
        }

        fetch("/api/v1/book", {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(bookObject)
        })
            .then(rawResponse => rawResponse.json())
            .then(location.href = "/")
    }
</script>

<body>
<!-- Book edition -->
<form id="edit-form">
    <h3>Book Info:</h3>

    <div class="row">
        <label for="book-id-input">ID:</label>
        <input id="book-id-input" type="text" readonly="readonly" value="1"/>
    </div>

    <div class="row">
        <label for="book-title-input">Title:</label>
        <input id="book-title-input" name="title" type="text" value="Clean Code Collection"/>
    </div>

    <!-- Author edition select -->
    <div class="row">
        <label for="book-author-select">Author:</label>
        <select id="book-author-select">
            <option value=""></option>
        </select>
    </div>

    <!-- Genre edition table select -->
    <div class="row">
        <label>Genres:</label>
        <table class="genres">
            <thead>
            <tr>
                <th>Name</th>
            </tr>
            </thead>
            <tbody id="genres-body">
            </tbody>
        </table>
    </div>

    <div class="row">
        <button type="button" onclick="saveBook()">Save</button>
        <a href="list.html" th:href="@{/}">
            <button type="button">Cancel</button>
        </a>
    </div>
</form>

</body>
</html>